name: Development branches

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and run tests on JDK 17
    steps:
      # Checkout the code
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Expose branch name
        run: echo ${{ github.ref }}

      # Setup JDK and Maven
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: 17
          cache: maven
          server-id: ossrh
          server-username: OSS_CENTRAL_USERNAME # env variable for Maven Central
          server-password: OSS_CENTRAL_PASSWORD # env variable for Maven Central

      # Prepare
      - name: Prepare Maven Wrapper
        run: chmod +x ./mvnw

      # Build
      - name: Build with Maven
        run: ./mvnw clean verify -U -B -T4 -ntp

      # itest
      - name: Run itest
        run: ./mvnw integration-test failsafe:verify -Pitest -U -B -T4 -ntp


      - name: Upload coverage to Codecov
        if: github.event_name == 'push' && github.actor != 'dependabot[bot]'
        uses: codecov/codecov-action@v3
        with:
          token: "${{secrets.CODECOV_TOKEN}}"

      - name: Upload test coverage to Codacy
        if: github.event_name == 'push' && github.actor != 'dependabot[bot]'
        run: bash <(curl -Ls https://coverage.codacy.com/get.sh)
        env:
          CODACY_PROJECT_TOKEN: "${{secrets.CODACY_PROJECT_TOKEN}}"
